body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

h4{
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 0;
    margin: 0px;
}
h2 {
     color: black;
    text-align: center;
 }

h1 {
    color: white;
    padding-top: 200px;
    text-align: center;
    font: bold;
    font-family: "Impact";
}

#title {
    background-image: url("../imgs/bcgrnd.jpg");
    width: auto;
    height: 100px;
    padding: 25px;
}

#sell {
    background-image: url("../imgs/bcgrnd.jpg");
    color: white;
    display: block;
    padding: 20px;
    padding-righ
}

#sell button {
    background-color: #800060;
    color: #e6ffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 40px;
    border-radius: 12px;
    font-size: 22px;
    text-decoration: none;
}

#sell button:hover {
    background-color: #ff00bf;
}

.column img {
    float: top;
    width: 25%;
}

.column #sell {
    float: left;
    width: 50%;
}

#dis {
    width: 40%;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}

#line {
    max-width: 100%;
    min-width: 100%;
    background-color: #111111;
    height: 15px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: px;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.slide {
    border: 10px solid black;
}
/*img.slide{
  max-width: 100%;
  min-width: 100%;
  min-height: 550px;
  max-height: 550px;
}*/

div.column {
    float: left;
    width: 50%;
    padding: 60px;
}

.fp {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 5px black;
    max-width: 50%;
    min-width: 50%;
    min-height: 50%;
    max-height: 50%;
}
#logo {
    padding-top: 10px;
    padding-right: 100px;
    background: linear-gradient(to right,#ff00ff, aqua );
    font-size: 24px;
    float: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cov {
    float: left;
    width: 20%;
    padding: 50px;
}
.box #sell {
    width: 80%;
}
