.fp {
    display: block;
    margin-left:auto;
    margin-right: auto;
    border: solid 5px black;
    min-width: 80%;
    height: 550px;
}
div.column {
     float: left;
     width: 30%;
     height: 30%;
     padding-top: 60px;
     margin: 20px;
 }
#cov {
    float: left;
    padding: 50px;
.box #sell {
    width: 80%;
}
#logo {
     padding-top: 10px;
     padding-right: 100px;
     background: linear-gradient(to right,#ff00ff, aqua );
     font-size: 24px;
     float: left;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
#sell {
    background-image: url("../imgs/bcgrnd.jpg");
    color: white;
    display: block;
    padding: 20px;
    padding-righ
}

#sell button {
    background-color: #800060;
    color: #e6ffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 40px;
    border-radius: 12px;
    font-size: 22px;
    text-decoration: none;
}

#sell button:hover {
    background-color: #ff00bf;
}

.column img {
    width: 25%;
}

.column #sell {
    float: left;
    width: 50%;
}

#dis {
    width: 40%;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}

#line {
    max-width: 100%;
    min-width: 100%;
    background-color: #111111;
    height: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: px;
    overflow: hidden;
    background-color: #333;
}
#title{
    background-image: url("../imgs/bcgrnd.jpg");
    width: auto;
    height: 100px;
    padding: 22px;
    color: white;
    /*padding-top: 200px;*/
    text-align: center;
    font: bold;
    font-family: "Impact";
}
body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

h4{
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 0;
    margin: 0px;
}
h2 {
    color: black;
    text-align: center;
}
